// ========================================================================================
// MAIN====================================================================================

.page {
	// .page__hero
	&__hero {
		margin-top: var(--header-height);
		@include adaptiveValue("padding-top", 80, -20);
		@include adaptiveValue("padding-bottom", 50, 30);
	}
}
// -----------------------------------
.hero {
	overflow: hidden;
	position: relative;
	@media (max-width: $tablet) {
		background-color: #00000048;
	}
	@media (max-width: $mobile) {
		background-color: transparent;
	}
	// .hero__decore
	&__decore {
		position: absolute;
		@include adaptiveValue("top", 110, 0);
		right: 0;
		left: 50%;
		z-index: -1;
		@include adaptiveValue("width", 768, 490);
		@include adaptiveValue("height", 640, 424);
		@media (max-width: $tablet) {
			transform: translateX(-20%);
		}
		@media (max-width: $mobile) {
			transform: translateX(0%);
			left: 10%;
		}
		picture {
			display: block;
			width: 100%;
			height: 100%;
			@include adaptiveValue("border-radius", 280, 200);
			overflow: hidden;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::before {
			content: "";
			@media (min-width: $tablet) {
				position: absolute;
				width: toRem(485);
				height: toRem(485);
				bottom: toRem(-20);
				left: toRem(-50);
				border: 1px solid $color_1;
				border-radius: 50%;
				z-index: -1;
			}
		}
	}
	// .hero__container
	&__container {
		border: 1px solid #fff;
	}
	// .hero__body
	&__body {
		@media (max-width: $mobile) {
			padding-top: toRem(480);
			@include adaptiveValue("padding-top", 480, 400);
		}
	}
	// .hero__main
	&__main {
		@include adaptiveValue("margin-left", 100, 40);
		@media (max-width: $mobile) {
			margin-left: initial;
			padding: toRem(40) toRem(15);
			margin-left: toRem(-15);
			margin-right: toRem(-15);
			background-color: rgba(226, 226, 226, 0.7);
		}
	}
	// .hero__title
	&__title {
		font-family: $thirdFamily;
		font-style: italic;
		font-weight: 500;
		@include adaptiveValue("font-size", 48, 22);
		line-height: 1.25;
		color: $color_1;
		@include adaptiveValue("margin-bottom", 24, 16);
		span:nth-of-type(1) {
			@include adaptiveValue("margin-left", -100, -40);
			line-height: 1.5;
			@media (max-width: $mobile) {
				@include adaptiveValue("margin-left", 0, 0);
			}
		}
		span:nth-of-type(2) {
			font-family: var(--third-family);
			font-weight: 400;
			font-style: normal;
			@include adaptiveValue("font-size", 86, 36);
			line-height: 1;
			text-transform: uppercase;
			color: $color_desc3;
		}
	}
	// .hero__text
	&__text {
		font-size: toRem(24);
		text-transform: capitalize;
		@include adaptiveValue("margin-bottom", 42, 28);
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .hero__button
	&__button {
		background-color: $color_1;
		border-radius: toRem(15);
		padding: toRem(16) toRem(125);
		span {
			@include adaptiveValue("font-size", 24, 18);
			color: $color_desc3;
		}
		@media (max-width: $mobile) {
			width: 100%;
			padding: toRem(16) toRem(0);
		}
	}
	// .hero__bottom
	&__bottom {
		@include adaptiveValue("padding-top", 400, 180);
		display: flex;
		gap: toRem(40);
		text-align: center;
		justify-content: space-between;
		max-width: toRem(880);
		margin: 0 auto;
		@media (max-width: $mobile) {
			padding-top: initial;
			padding-top: toRem(24);
		}
	}
	// .hero__info
	&__info {
		max-width: toRem(220);
		@media (max-width: $mobile) {
		}
		img {
			margin-bottom: toRem(4);
			@include adaptiveValue("width", 40, 24);
			@include adaptiveValue("height", 40, 24);
		}
		p {
			@include adaptiveValue("font-size", 16, 12);
			@media (max-width: $mobile) {
				span {
					display: none;
				}
			}
		}
	}
}
// ==============================================

// MAIN====================================================================================
// ========================================================================================
