// Обнуление ==============================================================================
@import "_nullstyle.scss";
// ========================================================================================

// Функции ================================================================================
// Определение функции toRem
@function toRem($value) {
	// Базовый размер шрифта (обычно 16px)
	$baseFontSize: 16;
	// Вычисление значения в rem
	@return ($value / $baseFontSize) * 1rem;
}

// ========================================================================================

// Шрифты =================================================================================

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Light.woff2') format('woff2'), url('../fonts/SourceSansPro-Light.woff') format('woff');
	font-weight: 300;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'), url('../fonts/SourceSansPro-Regular.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'), url('../fonts/SourceSansPro-Semibold.woff') format('woff');
	font-weight: 600;
}
@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Bold.woff2') format('woff2'), url('../fonts/SourceSansPro-Bold.woff') format('woff');
	font-weight: 700;
}

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,600,500italic&display=swap");
// ========================================================================================
// Шрифты по умолчанию ====================================================================
$fontFamily: 'Source Sans Pro', sans-serif;
$thirdFamily: 'Playfair Display', sans-serif;

// $fontSize: toRem(18);
//  где (16 px) розмер шрифта по умолчанию с макета
// ========================================================================================

// Переменные =============================================================================
$color_desc: #5e6282; // цвет шрифта по умолчанию
$color_desc2: #444444; // цвет шрифта по умолчанию
$color_desc3: #F5EBEB; // цвет TITLE по умолчанию

$color_1: #A93B59;
$color_2: #B96A7F; 
$color_3: #C9A1AC;
$color_4: #55B8FF;
$color_5: #6F6567;

:root {
    --header-height: 0px;
}

// ========================================================================================

// Настройки адаптивной сетки =============================================================
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1440; // Ширина полотна (макета)
$maxWidthContainer: toRem(1230); // Ширина ограничивающего контейнера
$containerPadding: toRem(30); // Отступ от контейнера по 15 слева и справа
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина срабатывания первого брекпоинта
// Брейк-поинты------------------------------------------------------------------------------
// $pc: em($containerWidth);
$pc: $containerWidth;
// $tablet: em(991.98);
$tablet: toRem(991.98);
// $mobile: em(767.98);
$mobile: toRem(767.98);
// $mobileSmall: em(479.98);
$mobileSmall: toRem(479.98);
// ========================================================================================

// Миксины ================================================================================
// adaptiveValue = ($property-css стиль, $pcSize-максимальный параметр, $mobSize-минимальный параметр)

@mixin adaptiveValue($property, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (min-width: toRem(1440)) {
		#{$property}: #{$pcSize + px};
	}

	@media (max-width: toRem(1440)) {
		@media (max-width: 767px) {
			#{$property}: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
		}

		@media (min-width: 767px) {
			#{$property}: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
		}
	}
}

// ========================================================================================

// Подключение єлементов и страниц=========================================================
//  
@import "_header.scss";
@import "_main.scss";
@import "_footer.scss";
// Подключение єлементов и страниц=========================================================

// ========================================================================================
// ========================================================================================
// ========================================================================================

// ========================================================================================
// ========================================================================================
// Общие блоки ============================================================================
// Общие параметры--------------------------------------------------
html,
body {
	height: 100%;
	// overflow-x: hidden; /* Скрыть горизонтальное переполнение */
}
body {
	font-family: $fontFamily;
	// @include adaptiveValue("font-size",18 ,16);
	color: $color_desc3; // цвет шрифта по умолчанию
	// overflow: hidden;
	background-color: #000;
}
// Общие параметры--------------------------------------------------

// Оболочка---------------------------------------------------------
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// overflow: clip;
	// border: #fff 1px solid;
}
.wrapper > main {
	flex-grow: 1; // прибивает футер к низу
}
// Оболочка---------------------------------------------------------

// Основная сетка---------------------------------------------------
[class*="__container"] {
	max-width: toRem(1330);
	margin: 0 auto;
	padding: 0 toRem(15);
	// outline: 1px solid red;
}
[class*="__big-container"] {
	max-width: toRem(1440);
	margin: 0 auto;
	// position: relative;
}
// Основная сетка---------------------------------------------------

// Общие блоки ============================================================================
// ========================================================================================
// ========================================================================================





